# Created by .ignore support plugin (hsz.mobi)
.idea/
target/
application/src/test/
application/target/generated-sources/
application/target/generated-test-sources/
application/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
application/target/test-classes/
product-api/src/main/java/com/cullen/dto/
product-api/src/main/java/com/cullen/request/
product-api/src/main/java/com/cullen/response/
product-api/target/generated-sources/
product-provider/src/main/java/com/cullen/domain/
product-provider/src/main/java/com/cullen/mapper/
product-provider/src/main/resources/mapper/
product-provider/target/generated-sources/
product-provider/target/generated-test-sources/
user-api/target/generated-sources/
user-provider/src/test/
user-provider/target/generated-sources/
user-provider/target/generated-test-sources/
user-provider/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
user-provider/target/test-classes/
